.btn, .demo select {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.5em;
  padding: 0.25em 1em;
  margin: 0.375em;
  font-family: "Kanit", sans-serif;
  transition: opacity 100ms linear, transform 100ms ease-in-out, background-color 100ms ease-out, border 100ms ease-in-out;
}

.nav .hamburger, .nav .hamburger div, .nav__menu, .nav__menu div {
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  font-family: "Metrophobic", sans-serif;
  background: #282735;
  color: #d9d9d9;
  text-align: center;
  line-height: 1.6;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-family: "Kanit", sans-serif;
  color: white;
  line-height: 1.2;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 3rem);
}

h2,
h3 {
  font-family: "Viga", sans-serif;
  font-weight: 400;
}

.container {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
  place-content: center;
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
}

.wrapper {
  gap: 1em;
  justify-content: center;
}

.spacing > * + * {
  margin-top: 1.375rem;
}

.btn:hover, .btn:focus {
  opacity: 0.9;
  transform: scale(1.05);
}

.btn--primary {
  background: #7880b5;
  color: white;
  border: 4px solid #7880b5;
}

.btn--accent {
  color: #ddff94;
  border: 4px solid #ddff94;
}

.btn--accent:hover, .btn--accent:focus {
  background: #ddff94;
  color: #282735;
}

.btn--bg {
  color: #282735;
  border: 4px solid #282735;
}

.btn--bg:hover, .btn--bg:focus {
  background: #ddff94;
  border-color: #ddff94;
}

.card {
  background: white;
  color: black;
  border-radius: 0.5em;
  width: 90%;
  max-width: 300px;
  padding: 1em;
  margin: 0.75rem auto;
  transform: scale(0.9);
  transition: transform 250ms ease-in-out;
}

.card:hover {
  transform: scale(1) rotate(5deg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.125rem;
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

.nav .toggler {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.nav .toggler:checked ~ .nav__menu {
  visibility: visible;
}

.nav .toggler:checked ~ .nav__menu > div {
  transform: scale(1);
  transition: all 400ms ease-in;
}

.nav .toggler:checked ~ .nav__menu ~ .nav__list {
  opacity: 1;
  background: red;
  transition: opacity 400ms ease;
}

.nav .toggler:checked + .hamburger div {
  transform: rotate(135deg);
}

.nav .toggler:checked + .hamburger div::before, .nav .toggler:checked + .hamburger div::after {
  top: 0;
  transform: rotate(90deg);
}

.nav .toggler:checked:hover + .hamburger div {
  transform: rotate(225deg);
}

.nav .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: #7880b5;
}

.nav .hamburger div {
  position: relative;
  width: 100%;
  height: 2px;
  background: #ddff94;
  transition: transform 400ms ease;
}

.nav .hamburger div:before, .nav .hamburger div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.nav .hamburger div:after {
  top: 10px;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  flex-direction: column;
}

.nav__menu div {
  background: #7880b5;
  opacity: 0.9;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  flex: none;
  transform: scale(0);
  transition: transform 250ms ease;
}

.nav__menu div div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  transition: opacity 250ms ease;
}

.nav__list {
  padding: 0;
}

.nav__item {
  margin: 2rem 0;
}

.nav__link {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.nav__link:hover, .nav__link:focus {
  color: #cccccc;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__list {
    margin: 0;
    display: flex;
    gap: 1em;
    align-items: center;
  }
  .nav__item {
    display: inline-block;
  }
}

.hero {
  margin: 2rem auto 7rem;
  flex-direction: column-reverse;
}

@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .hero .col {
    flex-basis: 45%;
  }
  .hero .col + .col {
    flex-basis: 65%;
  }
}

.hero__details {
  margin-left: auto;
  margin-right: auto;
  max-width: 55ch;
  font-size: clamp(1rem, calc(5vw + 1rem), 1.125rem);
}

.section {
  margin-bottom: 5em;
}

.section__sub-title {
  color: #ddff94;
  font-size: 16px;
  text-transform: uppercase;
}

.section__details {
  padding: 0 1.125em;
  max-width: 55ch;
  margin: 1.5rem auto auto;
}

.section-demo {
  height: 100vh;
}

.features__item {
  margin: 3.75rem auto;
  transform: scale(0.9);
  transition: transform 250ms ease-in-out;
}

.features__item:hover, .features__item:focus {
  transform: scale(1);
}

.pricing__title {
  color: #282735;
}

.pricing__price {
  margin: 1rem 0.5rem;
  color: #7880b5;
}

.pricing__price span {
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

.link--try-demo {
  display: inline-block;
  color: #ddff94;
  padding: 1em;
  transition: transform 150ms ease-in-out, color 150ms ease-in;
}

.link--try-demo .icon {
  display: block;
}

.link--try-demo:hover, .link--try-demo:focus {
  transform: translateY(-1rem);
  color: #ff9b70;
}

.demo__ip-address {
  color: #fd4e4e;
  font-size: clamp(3rem, calc(5vw + 1rem), 5rem);
  font-weight: 400;
}

.demo select {
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border: unset;
}

.demo select:hover, .demo select:focus {
  opacity: 0.9;
}

@media screen and (min-width: 1024px) {
  .demo .col {
    flex-basis: 55%;
  }
  .demo .col + .col {
    flex-basis: 45%;
  }
}

.footer {
  display: block;
  padding: 1.5rem;
  background: #121118;
}
/*# sourceMappingURL=style.css.map */