$clr--background: hsl(244, 16%, 18%);
$clr--primary: hsl(232, 29%, 59%);
$clr--primary-light: hsl(233, 30%, 82%);
$clr--accent: hsl(79, 100%, 79%);
$clr--tertiary: hsl(18, 100%, 72%);
$br--radius: 0.5em;
$ff--heading: "Kanit", sans-serif;
$ff--sub-heading: "Viga", sans-serif;
$ff--body: "Metrophobic", sans-serif;
$clr--heading: hsl(0, 0%, 100%);
$clr--text: hsl(0, 0%, 85%);

// Mixins
@mixin mq--min($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin mq--min-max($min-width, $max-width) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

// Placeholders
%btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: $br--radius;
  padding: 0.25em 1em;
  margin: 0.375em;
  font-family: $ff--heading;
  transition: opacity 100ms linear, transform 100ms ease-in-out,
    background-color 100ms ease-out, border 100ms ease-in-out;
}

%details {
  font-size: clamp(1rem, calc(5vw + 1rem) 15rem);
}

%center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  font-family: $ff--body;
  background: $clr--background;
  color: $clr--text;
  text-align: center;
  line-height: 1.6;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-family: $ff--heading;
  color: $clr--heading;
  line-height: 1.2;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 3rem);
}

h2,
h3 {
  font-family: $ff--sub-heading;
  font-weight: 400;
}
// Utility classes
.container {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
  place-content: center;
  @include mq--min(1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: space-between;
  @include mq--min(768px) {
    flex-direction: row;
  }
}

.wrapper {
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.spacing > * + * {
  margin-top: 1.375rem;
}

.btn {
  @extend %btn;
  &:hover,
  &:focus {
    opacity: 0.9;
    transform: scale(1.05);
  }

  &--primary {
    background: $clr--primary;
    color: white;
    border: 4px solid $clr--primary;
  }

  &--accent {
    color: $clr--accent;
    border: 4px solid $clr--accent;
    &:hover,
    &:focus {
      background: $clr--accent;
      color: $clr--background;
    }
  }

  &--bg {
    color: $clr--background;
    border: 4px solid $clr--background;
    &:hover,
    &:focus {
      background: $clr--accent;
      border-color: $clr--accent;
    }
  }
}

.card {
  background: white;
  color: black;
  border-radius: 0.5em;
  width: 90%;
  max-width: 300px;
  padding: 1em;
  margin: 0.75rem auto;
  transform: scale(0.9);
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1) rotate(5deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

// Navigation
.nav {
  &__link {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    &:hover,
    &:focus {
      color: darken(white, 20%);
    }
  }

  &__menu {
    i {
      color: $clr--primary-light;
    }

    &--open,
    &--close {
      font-size: 2rem;
      cursor: pointer;
      display: none;
    }

    &--open {
      display: block;
      margin: 2rem;
      transition: all 250ms ease-in-out;
    }

    &--close {
      display: none;
      position: absolute;
      top: 2.65rem;
      right: 2.2rem;
      z-index: 10;
    }
  }

  @include mq--min-max(320px, 768px) {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    &__list {
      display: flex;
      padding: 2rem 0;
      margin: 0;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background: fade-out($clr--background, 0.3);
      transition: top 500ms ease;
      display: none;
    }

    &__item {
      margin-top: 2rem;
    }
  }

  @include mq--min(769px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
      &--open,
      &--close {
        display: none;
      }
    }

    &__list {
      margin: 0;
      display: flex;
      gap: 1em;
      align-items: center;
    }
    &__item {
      display: inline-block;
    }
  }
}

// Hero
.hero {
  margin: 2rem auto 7rem;
  flex-direction: column-reverse;
  @include mq--min(1024px) {
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .col {
      flex-basis: 45%;
    }

    .col + .col {
      flex-basis: 65%;
    }
  }

  &__details {
    margin-left: auto;
    margin-right: auto;
    max-width: 55ch;
    font-size: clamp(1rem, calc(5vw + 1rem), 1.125rem);
  }
}

// Section
.section {
  margin-bottom: 5em;
  &__sub-title {
    color: $clr--accent;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__details {
    padding: 0 1.125em;
    max-width: 55ch;
    margin: 1.5rem auto auto;
  }

  &-demo {
    height: 100vh;
  }
}

// Features
.features {
  &__item {
    margin: 3.75rem auto;
    transform: scale(0.9);
    transition: transform 250ms ease-in-out;
    &:hover,
    &:focus {
      transform: scale(1);
    }
  }
}

//Pricing
.pricing {
  &__title {
    color: $clr--background;
  }

  &__price {
    margin: 1rem 0.5rem;
    color: $clr--primary;
    span {
      display: block;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

.link--try-demo {
  display: inline-block;
  color: $clr--accent;
  padding: 1em;
  transition: transform 150ms ease-in-out, color 150ms ease-in;
  .icon {
    display: block;
  }
  &:hover,
  &:focus {
    transform: translateY(-1rem);
    color: $clr--tertiary;
  }
}

.demo {
  &__ip-address {
    color: rgb(253, 78, 78);
    font-size: clamp(3rem, calc(5vw + 1rem), 5rem);
    font-weight: 400;
  }

  select {
    @extend %btn;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.5em 0.75em;
    border: unset;
    &:hover,
    &:focus {
      opacity: 0.9;
    }
  }

  @include mq--min(1024px) {
    .col {
      flex-basis: 55%;
    }

    .col + .col {
      flex-basis: 45%;
    }
  }
}

.footer {
  display: block;
  padding: 1.5rem;
  background: darken($clr--background, 10%);
}
